Flask
Flask-SQLAlchemy
Flask-Migrate
SQLAlchemy
Flask-Cors
pymysql
cryptography
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
apscheduler
gunicorn
bcrypt
dotenv
pytz
requests
pywebpush
resend
tatsu<5
